section(class="Layout")
  div(class="Layout-intro")
    include ../intro/template.jade
  div(class="Layout-tweets")
    include ../tweets/template.jade
footer(class="Footer")
    include ../footer/template.jade
