aside(class="Aside")
    include ../aside/template.jade
section(class="Layout")
  div(class="Layout-intro")
    include ../intro/template.jade
  div(class="Layout-tweets")
    include ../tweets/template.jade
