.Intro
  &-title
    color white
    text-shadow 0 0 10px #151515
    font-size 4em
    line-height 55px
  &-user
    background-color transparent
    border none
    border-bottom 2px solid #7A7593
    color #D44933
    display block
    font-size 20px
    outline none
    margin 0 auto
    text-align center
    transition .2s all ease-in-out
    max-width 100%
    &.is-loading
      margin-top -107px
      opacity 0
    &.is-gone
      margin-top -125%
    &:focus
      box-shadow 0 4px 2px -2px #7A7593
  &-error
    background-color #D45742
    font-size 1.5em
    margin-top 1em
    padding 1em
    position relative
    width 300px
    margin 1em auto
    transform rotateX(90deg)
    transition 1s all ease
    line-height initial
    &.is-animated
      transform rotateX(0deg)
