div(class="Intro")
  h2(class="Intro-title" id="title") Get best tweets from any account
  input(class="Intro-user", placeholder="Insert user", type="text", id="input")
  div(class="Intro-error") Enter a username ej: @Snowden
  div(class="btn btn--search" id="submitButton") Go!
  
